@page {
  size: auto;
  margin: 15mm 15mm 15mm 15mm;
  
  /* auto is the initial value */
  /* this affects the margin in the printer settings */
}
body {
  /* this affects the margin on the content before sending to printer */
  margin: 0px;
}
table {
  margin-top: 20px;
  border: 1px solid #777777;
}
table tr:first-child {
  border-bottom: 1px solid #777777;
  border-top: 1px solid #777777;
  background: #DADADA;
}
table td {
  border-left: 1px solid #777777;
  padding: 2px 8px !important;
  font-size: 12px;
}
.table > tbody > tr > td {
  border-top: none;
}
.policy {
  text-align: left;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
