table {
  margin-top: 20px;
  border: 1px solid #777777;
}
table tr:first-child {
  border-bottom: 1px solid #777777;
  border-top: 1px solid #777777;
  background: #DADADA;
}
table td {
  border-left: 1px solid #777777;
}
.table > tbody > tr > td {
  border-top: none;
}
.policy {
  text-align: left;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
